h1 {
	text-align: center;
	color:#3498DB
	
}

h3 {
	color:#0F0B0D
}

.solidBorder{
	
	border: 2px solid #000000;
  	border-radius: 0px;
}

p {
	font-size:20px;
}
label
{
	width: 10em;
	float: left;
	text-align: left;
	margin-right: 0em;
	color:#048BF5;
	font-size:20px;
	font-weight:bold;
}

.submit input
{
	margin-left: 6.5em;
	font-size:20px;
	background: #7FC2F7;
	border: 3px outset #d7b9c9;
	color: #000000;
	font-weight: bold;
	border-radius: 10px;
}

input
{
	color: #010008;
	background: #B6DAF6;
	border: 1px solid #010008;
	border-radius: 5px;
	
}

fieldset
{
	border: 1px solid #781351;
	width: 25em
}

legend
{
	font-size:22px;
	color: #010008;
	background: #048BF5;
	border: 1px solid #781351;
	padding: 2px 6px
}

.right {
    text-align: right;
    float: right;
}

.dropbtn {
    background-color: #66b3ff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3399ff;;
}
